# This file contains environment variables appropriate for a particular release

PORT=2301
# CAUTION: you need to create the directory /srv/verdaccio/$RELEASE and chown 100:101 prior to running container
CONFIGFILE=configOnline.yaml
IP_ADDR=192.168.99.100
DOMAIN=.ed
